<h1>Listing episodes</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Video</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= image_tag(episode.image.url(:thumb)) %></td>
        <td><%= episode.title %></td>
        <td><%= episode.description %></td>
        <td><%= episode.video_id %></td>
        <td><%= link_to 'Show', episode, class: 'btn btn-large' %></td>
        <td><%= link_to('Edit', edit_episode_path(episode), class: 'btn') if current_admin %></td>
        <td><%= link_to('Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if current_admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_episode_path %>
