<!DOCTYPE html>
<html>
<head>
  <title>iOS Academy Videos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div role='main' id='content-wrapper'>
    <header>
      <%= link_to raw("<h1>iOS Academy</h1>"), '/' %>
      <%= raw "<div class='alert alert-info'> Currently Signed in as Admin </div>" if current_admin %>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary', style: 'color:#FFFFFF; float:right;' unless current_user %>
      <%= link_to('Sign Out', destroy_user_session_path, class: 'btn btn-primary', style: 'color:#FFFFFF; float:right;') if current_user %>
      <%= raw "<p class='notice'> #{notice} </p>" if notice %>
      <%= raw "<p class='alert'>  #{alert} </p>"  if alert  %>
    </header>

    <%= yield %>

    <footer>
    </footer>
  </div>

</body>
</html>
